.target {
    position: absolute;
    left: 100px;
    width: 100px;
            height: 100px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
}

.container, .end {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center; 
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    padding-top: 100px;
    color: rgb(127, 127, 127);
    
}

.timer {
    /* position: absolute; */
    margin-left: 50%;
    left: 50%;
    color: white;
}

.final {
    left: 50%;
    color: white;
}